aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
boto3
botocore
certifi
charset-normalizer
click
dataclasses-json
docx2txt
exceptiongroup
fastapi
fasttext
filelock
frozenlist
fsspec
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
httpx-sse
huggingface-hub
hyperframe
idna
Jinja2
jmespath
joblib
jsonpatch
jsonpointer
langchain
langchain-core
langchain-ollama
langchain-text-splitters
langdetect
langsmith
MarkupSafe
marshmallow
mpmath
multidict
mypy-extensions
networkx
numpy
ollama
orjson
packaging
pandas
pillow
portalocker
propcache
protobuf
pybind11
pydantic
pydantic-settings
pydantic_core
PyPDF2
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
qdrant-client
regex
requests
requests-toolbelt
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
six
sniffio
SQLAlchemy
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
yarl
