annotated-types
anyio
boto3
botocore
certifi
charset-normalizer
click
docx2txt
exceptiongroup
fastapi
filelock
fsspec
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
Jinja2
jmespath
joblib
jsonpatch
jsonpointer
langchain-core
langchain-ollama
langdetect
langsmith
MarkupSafe
mpmath
networkx
numpy
ollama
orjson
packaging
pandas
pillow
portalocker
protobuf
pydantic
pydantic_core
PyPDF2
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
qdrant-client
regex
requests
requests-toolbelt
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
six
sniffio
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
uvicorn
